* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.app-container {
    margin-left: calc(var(--sidebar-width) + 20px);
    margin-top: calc(var(--header-height) + 20px);
    margin-right: 20px;
}

.application {
    background: var(--body-primary);
}

.body-container {
    background: white;
    border: 1px solid #e5e5e5;
    padding: 20px;
}

.button-success-primary-md {
    background: var(--blue-primary);
    border-radius: 4px;
    border: none;
    outline: none;
    color: white;
    padding: 8px 20px;
}

.button-success-primary-sm {
    background: var(--blue-primary);
    border-radius: 4px;
    border: 1px solid var(--blue-primary);
    outline: none;
    color: white;
    padding: 5px 14px;
}

.button-success-primary-tag {
    background: var(--blue-primary);
    border-radius: 4px;
    border: none;
    outline: none;
    color: white;
    padding: 4px 10px;
}

.button-green-primary-tag {
    background: var(--success-primary);
    border-radius: 4px;
    border: none;
    outline: none;
    color: white;
    padding: 4px 10px;
}

.button-danger-primary-tag {
    background: var(--red-primary);
    border-radius: 4px;
    border: none;
    outline: none;
    color: white;
    padding: 4px 10px;
}

.button-transparent-md {
    background: transparent;
    border-radius: 4px;
    border: 1px solid #cfcfcf;
    outline: none;
    color: #444;
    padding: 8px 20px;
}

.button-transparent-sm {
    background: transparent;
    border-radius: 4px;
    border: 1px solid #cfcfcf;
    outline: none;
    color: #444;
    padding: 5px 14px;
}

.button-transparent-md:hover, .button-transparent-sm:hover {
    opacity: .8;
}

.button-danger-md {
    background: var(--red-primary);
    border-radius: 4px;
    border: 1px solid #cfcfcf;
    outline: none;
    color: #fff;
    padding: 8px 20px;
}

.button-danger-sm {
    background: var(--red-primary);
    border-radius: 4px;
    border: 1px solid #cfcfcf;
    outline: none;
    color: #fff;
    padding: 5px 14px;
}

.button-transparent-sm:focus, .button-success-primary-sm:focus, .button-success-primary-md:focus, .button-transparent-md:focus,
.button-danger-md:focus, .button-danger-sm:focus, .button-green-primary-tag:focus, .button-danger-primary-tag:focus
{
    outline: none;
}

.button-danger-md:hover, .button-danger-sm:hover {
    background: var(--red-primary-hover);
    text-decoration: none;
    color: #fff;
}

.button-success-primary-md:hover, .button-success-primary-sm:hover {
    background: var(--blue-primary-hover);
    text-decoration: none;
    color: #fff;
}

.button-success-primary-md:active, .button-success-primary-sm:active,
.button-success-primary-md:focus, .button-success-primary-sm:focus {
    text-decoration: none;
    color: #fff;
}
